@font-face {
    font-family: "boxy-bold";
    src: url('assets/fonts/Boxy-Bold.woff2') format('woff2'),
         url('assets/fonts/Boxy-Bold.woff') format('woff'),
         url('assets/fonts/Boxy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.boxy-bold {
  font-family: boxy-bold;
  font-size: 35px;
}
  
  @font-face {
    font-family: "blazter";
    src: url('assets/fonts/BLAZTER.woff2') format('woff2'),
         url('assets/fonts/BLAZTER.woff') format('woff'),
         url('assets/fonts/BLAZTER.ttf') format('truetype'),
         url('assets/fonts/BLAZTER.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.blazter {
  font-family: blazter;
  font-size: 40px;
}
  
  @font-face {
    font-family: 'editundo';
    src: url('assets/fonts/editundo.woff2') format('woff2'),    /* Modern browsers */
         url('assets/fonts/editundo.woff') format('woff'),      /* Older browsers */
         url('assets/fonts/editundo.ttf') format('truetype');   /* Very old browsers */
    font-weight: normal;
    font-style: normal;
  }

.editundo {
  font-family: editundo;
  font-size: 40px;
}
  
  @font-face {
    font-family: 'system-font';
    src: url('assets/fonts/Friend or Foe Tall BB.woff2') format('woff2'),    /* Modern browsers */
         url('assets/fonts/Friend or Foe Tall BB.woff') format('woff'),      /* Older browsers */
         url('assets/fonts/Friend or Foe Tall BB.ttf') format('truetype');   /* Very old browsers */
    font-weight: normal;
    font-style: normal;
  }

.system-font {
  font-family: system-font;
  font-size: 40px;
  margin-bottom: -1px;
}
  
  @font-face {
    font-family: 'dragonfly-font';
    src: url('assets/fonts/df-font.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

.dragonfly-font {
  font-family: dragonfly-font;
  font-size: 30px;
}

  @font-face {
    font-family: 'joust';
    src: url('assets/fonts/joust.woff2') format('woff2'),    /* Modern browsers */
         url('assets/fonts/joust.ttf') format('truetype'),      /* Older browsers */
         url('assets/fonts/Friend or Foe Tall BB.otf') format('opentype');   /* Very old browsers */
    font-weight: normal;
    font-style: normal;
  }

.joust {
  font-family: joust;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}
  
  @font-face {
    font-family: 'mono';
    src: url('assets/fonts/mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* make certain elements larger for mobile */
/* Not working in here? */
/* pointer:coarse? */
@media (pointer:coarse) {
    .boxy-bold {
      font-size: 30px !important;
    }
    .blazter {
      font-size: 40px !important;
    }
    .editundo {
      font-size: 40px !important;
    }
    .system-font {
      font-size: 40px !important;
    }
    .dragonfly-font {
      font-size: 30px !important;
    }
    .joust {
      font-size: 16px !important;
    }
}