:root{
    --background:black;
    --background-brown:#1C0F13;
    --background-card:#0f4238;
    --text:#b4b6b6;
    --link:#219880;
    --link-hover:#82cd68;
}

header { 
    background: rgba(0,0,0,.8); 
    color:#FFFFFF; 
}

.left-div {
    float: left;
}

.right-div {
    float: right;
    margin-top: 40px;
}

.clear {
    clear: both;
}

.linked-apps {
    text-align: right;
}

navbar {
    color:#b4b6b6;
    background-color: black;

    font-family: source-code-pro;
    font-weight: 400;
    font-size: larger;

    max-width:800px;
    margin:25px auto;
}

a {
    font-family: source-code-pro;
    font-weight: 400;
    color:#219880;
    outline: none;
}
a:hover {
    color: #82cd68;
    outline: none;
}

body {
    color:#b4b6b6;
    background-color: black;

    font-family: source-code-pro;
    font-weight: 400;
    font-size: larger;

    max-width:800px;
    margin:25px auto;
}

h1 {
    color:#219880;
    font-size: xx-large;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards {
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    gap:20px;
}
.cards .card {
    /* padding: 40px 40px 20px 30px; */
    padding: 0px 8px 0px 0px;
    /* margin: 4px 4px 10px 4px; */
    background-color: var(--background);
    border: 4px solid var(--link);
    font-size: 16pt;
    flex: 1 1 300px;
}
.cards .card h3 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.cards .card a img {
    background-color: var(--link-hover);
    padding: 4px 4px 4px 4px; 
    /* margin: 4px 4px 4px 4px; */
    max-height:100%; 
    max-width:100%;
}