body {
    color:#b4b6b6;
    background-color: black;

    font-family: source-code-pro;
    font-weight: 400;
    font-size: larger;
}

a {
    font-family: source-code-pro;
    font-weight: 400;
    color:#219880;
}
a:hover {
    color: #82cd68;
}

h1 {
    color:#219880;
    font-size: xx-large;
}

.linked-apps {
    text-align: right;
}