:root{
    --background:black;
    --background-brown:#1C0F13;
    --background-card:#0f4238;
    --text:#b4b6b6;
    --link:#219880;
    --link-hover:#82cd68;
}

header { 
    background: rgba(0,0,0,.8); 
    color:#FFFFFF; 
}

.left-div {
    float: left;
}

.right-div {
    float: right;
    margin-top: 20px;
}

.clear {
    clear: both;
}

.linked-apps {
    text-align: right;
}
.linked-apps a {
    text-decoration: none;
}

navbar {
    color:#b4b6b6;
    background-color: black;

    font-size: larger;

    max-width:800px;
    margin:25px auto;
}

a {
    color:#219880;
    outline: none;
}
a:hover {
    color: #82cd68;
    outline: none;
}

body {
    color:#b4b6b6;
    background-color: black;

    font-family: source-code-pro;
    font-weight: 400;
    font-size: larger;

    max-width:900px;
    margin:25px auto;
    transform:scale(1);
}

h1 {
    color:#219880;
    font-size: xx-large;
    margin-top:0;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards {
    /* uncomment below to have boxes shorten for image size */
    /* align-items: center; */
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top: 5px;
}
.cards .card {
    border: 4px solid var(--link); /* box around all content */
    flex: 300px;
}
.cards .card .offsetHandler {
    /* created so card text doesn't get forced into same padding */
    padding: 0px 8px 0px 0px; /* offset from border */
}
.cards .card a img {
    background-color: var(--link-hover);
    padding: 4px 4px 4px 4px;  /* border */
    max-height:100%; 
    max-width:100%;
}
.cards .card h3 {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}
.cards .card p {
    margin: 0px 10px 0.8em 10px;
}

.main p {
    margin-top:0px;
    margin-bottom: 0px;
}
.columns {
    display: flex;
    flex-wrap:wrap;
    gap:25px;
}
.columnsNoGap {
    display: flex;
    flex-wrap:wrap;
    gap:0px;
}
.columns .col {
    max-width: 25%;
    max-height: 25%;
}
.columnsNoGap .col {
    max-width: 25%;
    max-height: 25%;
}
.columnsNoGap .col img {
    max-width: 100%;
    max-height: 100%;
}
.columns .colx2 {
    max-width: 45%;
    max-height: 45%;
}
.columns .colx3 {
    max-width: 72%;
    max-height: 72%;
}
.columns .col a {
    text-decoration: none;
}
.columns .col img {
    max-width: 100%;
    max-height: 100%;
}
.columns .colx2 img {
    max-width: 115%;
    max-height: 115%;
}
.columns .colx3 img {
    max-width: 72%;
    max-height: 72%;
}
.screenshots {
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    margin-top:15px;
    margin-bottom:15px;
}
.screenshots img {
    max-width: 49%;
    max-height: 49%;
}
